*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
};

body {
    background-color: white;
}

header {
    width: 100%;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.main-container {
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo img{
    width: 90px;
    padding: 5px 9px ;
}
nav {
    flex: 1;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    transition: 0.2s;
}

.nav-links li a:hover {
  color: #ff6a00;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: color 0.2s;

}

.search-box {
  display: flex;
  align-items: center;
  background: white;
  border: 2px solid #222;       
  border-radius: 50px;          
  padding: 4px 6px;
  width: 300px;  
  margin: 0 40px;               
  overflow: hidden;
}

.search-box input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px 15px;
  font-size: 14px;
  color: #333;
  background: transparent;
}

.search-box input::placeholder {
  color: #777;
}

.search-box button {
  border: none;
  background: #222;             
  color: white;                 
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.search-box button:hover {
  background: #000;
}

.search-box i {
  font-size: 14px;
}


